<div class="flip-container">       
  
  <div class="holder">
    <div class="flip-cards" id="video">
      <div class="front-card" data-rotate="#video" data-show="#video-content-div"><span class="squaretext">Video</span><img class="fronticon"src="assets/video.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#video" data-show="#video-content-div">
      </div>
    </div>
  </div>
      
  <div class="holder">
    <div class="flip-cards" id="thought">
      <div class="front-card" data-rotate="#thought" data-show="#thought-content-div"><span class="squaretext">Thought</span><img class="fronticon"src="assets/quote.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#thought" data-show="#thought-content-div"></div>
    </div>
  </div>  

  <div class="holder">
    <div class="flip-cards" id="song">
      <div class="front-card" data-rotate="#song" data-show="#song-content-div" ng-click="playTrack()"><span class="squaretext">Song</span><img class="fronticon"src="assets/note.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#song" data-show="#song-content-div" ng-click="pauseTrack()">
      </div>
    </div>
  </div>  
  
  <div class="holder" id="jokediv">
    <div class="flip-cards" id="joke" >
      <div class="front-card" data-rotate="#joke" data-show="#joke-content-div"><span class="squaretext">Joke</span><img class="fronticon"src="assets/emoticon.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#joke" data-show="#joke-content-div"></div>
    </div>
  </div>

  <div class="holder" id="centerdiv">
    <div class="flip-cards" id="nine">
      <div class="front-card" data-rotate="#nine" data-show="#center-content-div">
        <span class="ninediv">9</span><span class="ninediv sqrsweight">SqRs</span><img class="fronticon"src="assets/home.png">
      </div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#nine" data-show="#center-content-div"></div>
    </div>
  </div>  

  <div class="holder" id="storydiv">
    <div class="flip-cards" id="story">
      <div class="front-card" data-rotate="#story" data-show="#story-content-div"><span class="squaretext">Story</span><img class="fronticon"src="assets/literature.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#story" data-show="#story-content-div"></div>
    </div>
  </div>  

  <div class="holder">
    <div class="flip-cards" id="picture">
      <div class="front-card" data-rotate="#picture" data-show="#picture-content-div"><span class="squaretext">Picture</span><img class="fronticon"src="assets/camera.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#picture" data-show="#picture-content-div"></div>
    </div>
  </div>
    
  <div class="holder">
    <div class="flip-cards" id="game">
      <div class="front-card" data-rotate="#game" data-show="#game-content-div"><span class="squaretext">Game</span><img class="fronticon"src="assets/dice.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#game" data-show="#game-content-div"></div>
    </div>
  </div>
    
  <div class="holder">
    <div class="flip-cards" id="random">
      <div class="front-card" data-rotate="#random" data-show="#random-content-div"><span class="squaretext">Random</span><img class="fronticon"src="assets/questionmark.png"></div>
      <div class="reverse-card"><img class="close-icon" src="assets/close3.png" data-rotate="#random" data-show="#random-content-div"></div>
    </div>  
  </div> 

<%# test_id = 'ZzEJQqw8HC0' %>
  <div id="video-content-div" class="content-div-styling">
    <div id="youtube-div"></div>
    <button ng-click="nextVideo()">next</button>
    <%= favourite_button('favouriteThisVideo()') %>
  </div>
  
  <div id="thought-content-div" class="content-div-styling">
    <div id="thought-div"></div>
    <div>
      <%= favourite_button('favouriteThisThought()') %>
    </div>
  </div>

  <div id="song-content-div" class="content-div-styling">
    <div id="soundcloud-div"></div>
    <div>
      <button ng-click="nextTrack()">next</button>
      <%= favourite_button('favouriteThisTrack()') %>
    </div>
  </div>

  <div id="joke-content-div" class="content-div-styling"></div>

  <div id="center-content-div" class="content-div-styling">
    <span>User Info & Settings</span><br>
    <p class="notice"><%= notice %></p><br>
    <p class="alert"><%= alert %></p><br>

    <% if user_signed_in? %>
      <%= current_user.email %>
      <br>
      <%= link_to "Edit profile", edit_user_registration_path %>
      <br>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>

      <div>
        <br>
      <p>Favourited Songs:</p><br> 
        <% current_user.contents.where(type: 'Song').each do |content| %>
          <p class="linkpara" data-rotate="#song" data-show="#song-content-div" ng-click="selectedTrackEmbed('<%= content.url %>')"><%= content.title %></p>
        <% end %>  
      <br>

      <p>Favourited Thoughts:</p><br> 
        <% current_user.contents.where(type: 'Thought').each do |content| %>
          <p class="linkpara" data-rotate="#thought" data-show="#thought-content-div" ng-click="selectedThoughtEmbed('<%= content.title %>', '<%= content.author %>')"><%= content.title %></p>
        <% end %>  
      <br>

      <p>Favourited Videos:</p><br> 
        <% current_user.contents.where(type: 'Video').each do |content| %>
          <p class="linkpara" data-rotate="#video" data-show="#video-content-div" ng-click="selectedVideoEmbed('<%= content.url %>')"><%= content.title %></p>
        <% end %>  
      <br>

      <p>Dashboard:</p><br>
        <% @zippedtopfive.each do |content| %>
          <%= paragraph_link(content) %>
        <% end %>
      </div>

    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <br>
      <%= link_to "Login", user_session_path %>
      <br>
      <%= link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2) %>    
    <% end %>
  </div>
  
  <div id="story-content-div" class="content-div-styling"></div>
  
  <div id="picture-content-div" class="content-div-styling"></div>
  
  <div id="game-content-div" class="content-div-styling"></div>
  
  <div id="random-content-div" class="content-div-styling"></div>

  <div id="dashboard-div" class="content-div-styling">
    <p>Most popular:</p><br>
    <p></p>

  </div>

</div>

