*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  position: relative;
}

.front-card {
  line-height: 33vh;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  transition-property: all;
  transition-duration: .2s;
}

.front-card:hover {
  opacity: 0.5;
  font-size: 52px;
  z-index: 100;
  -webkit-transform:scale(0.95);
  transform:scale(0.95);
}

/* 3D css*/

.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 0 auto;
  height: 100vh;
  width: 56vw;
  position: relative;
  overflow: hidden;
}

.flip-cards {
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.flip-cards div {
  width: 100%;
  height: 100%;
  background: #FF8533;
  vertical-align: middle;
  font-size: 50px;
  color: white;
  position: absolute;
  border-radius: 10px;    
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotate {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}

.holder {
  width: 32.95%;
  height: 33vh;
  display: inline-block;
}

.reverse-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  vertical-align: middle;
  padding-top: 200px;
  font: black;
  z-index: 2;
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.close-icon {
  width: 50px;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid #FF8533;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 5px;
}

.close-icon:hover {
  -webkit-transform:scale(1.25);
  transform:scale(1.25);
  border-color: white;
}

iframe {
  padding: 0;
  width: 80%;
}

.ninediv {
  font-size: 60px;
  font-weight: 400;
}

#centerdiv, .sqrsweight{
  font-weight: 300;
}

#jokediv, #centerdiv, #storydiv {
  margin: 3px 0 3px 0;
}

#soundcloud {
  width: 50%;
}

.avoid-clicks {
  pointer-events: none;
}

.content-div-styling {
  padding-top: 5vh;
  padding-left: 10vh;
  position: absolute;
  background: #FF8533;
  height: 90%;
  width: 90%;
  top: 10%;
  left: -100% ;
  z-index: 1000000;
  opacity: 0;
  font-size: 25px;
  color: white;
}

.show-div {
  left: 5% ;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 1;
}

.fronticon {
  display: none;
}

.heading {
  font-weight: 400;
}

.linkpara:hover {
  cursor: pointer;
}

.favbutton {
  border: 2px solid white;
  border-radius: 5px;
  width: 25%;
  padding: 5px;
  display: none;
}

.favbutton:hover {
  transition: all .2s;
  -webkit-transform:scale(0.95);
  transform:scale(0.95);
  cursor: pointer;
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 370px) {
  body {
    width: 100%;
  }
  .flip-container{
    width: 100%;
  }
  .squaretext {
    display: none;
  }
  .holder {
    width: 32%;
    height: 15vh;
  }
  .ninediv {
    display: none;
  }
  .front-card {
    line-height: 2.5;
  }
  .fronticon {
    display: inline-block;
    color: white;
    margin: 0 auto;
  }
  .content-div-styling {
    padding-left: 2vh;
  }
}
